.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff; /* or your preferred background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease; /* Smooth fade */
}

.loader-container.fade-out {
  opacity: 0;
}

.loader-image {
  width: 250px;
  height: 250px;
}
